:root {
  --content-bg-color: #ffffff;
  --main-accent-color: #07086C;
  --accent-text-color: #ffffff;
  --font-color: #000000;
  --additional-font-color: #969AF7;
  --main-font: "FuturaBookC", sans-serif;
  --accent-font: "FuturaFuturisC", sans-serif;
  --text-font: "";
  --main-font-weight: 400;
  --title-font-weight: 700;
  --form-header-bg: linear-gradient(#6A32B4, #552693);
  --accent-bg: linear-gradient(to right, rgba(150, 154, 247, 0.3), rgba(150, 154, 247, 0));
  --button-text-color: #ffffff;
  --button-bg-color: #FFA500;
}
